
html {
      scroll-behavior: smooth;
	max-width: 100%;
    overflow-x: hidden;
	background-color: white
	background-image: linear-gradient(180deg, rgba(222, 77, 134, 0.50) 0%, rgba(254.65, 254.65, 254.65, 0.50) 100%);

    }

.sticky {
	
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


      ul {
	display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8ECAE6;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-size: 40px;
  font-weight: 400;
a {
  display: flex;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
size: 40px;
li a: hover {
  background-color: #111;
active {
  background-color: #4CAF50;
}
	

}}}
  
  .lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
   
  background-color: #8ECAE6; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
    left: 230px; 
    top: 37px; 
    position: absolute; 
    font-family: Lilita One; 
    font-weight: 400; 
    word-wrap: break-word"
}

