html,
body {
  width: 100%;
  /* overflow-x: hidden; */
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* COLOUR SCHEME FOR REF
lightgrey
yellow: #FDC835
coral: #F06449
purple: #832161
 */

/* ---------------FONTS--------------- */

@font-face {
  font-family: "Apfel Grotezk Brukt";
  src: url(fonts/ApfelGrotezk-Brukt.otf);
}

@font-face {
  font-family: "Apfel Grotezk";
  font-weight: bold;
  src: url(fonts/ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url(fonts/ApfelGrotezk-Regular.otf);
}

@font-face {
  font-family: "MAZIUS REVIEW 20.09 Ex italic";
  src: url(fonts/MAZIUSREVIEW20.09-Extraitalic.otf);
}

/* ----------------------------------- */

/* -------------- DESKTOP ------------ */

/* @media screen and (max-width:2000px) and (min-width:451px;) { }*/

.wrapper {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.body-wrapper {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  background: linen;
}

.header {
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  position: sticky;
  /* display: flex; */
  display: flow-root;
  /* justify-content: flex-end; */
  /* background-color: #FDC835; */
  /* background-color: lightgrey; */
  /* background-color: silver; */
  background-color: linen;
  padding: 2vw;
  z-index: 100;
}

button {
  font-family: "Apfel Grotezk", sans-serif;
  /* font-family: 'Basteleur Bold'; */
  font-size: 1.4vw;
  color: black;
  background: none;
  border: none;
  padding-left: 1vw;
  padding-right: 1vw;
}

#name {
  float: left;
  font-family: "Apfel Grotezk", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
#projects,
#cv,
#about {
  float: right;
}

a {
  text-decoration: underline;
  color: inherit;
}

a.visited {
  text-decoration: underline;
  color: inherit;
}

iframe {
  display: block;
  /* position: absolute; */
}

.frame-wrapper {
  display: block;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
}

#scroll {
  display: none;
  /* left: 3vw;
 
  height: 4vh;
  width: fit-content;

  margin: 0;
  position: relative;

  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 1.2vw;

  color: grey;
  text-transform: uppercase;
  padding-top: 4vh;
  padding-bottom: 2vh; */
}

#swipe {
  display: none;
}

.gallery {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  /* background-color: yellowgreen; */
}

::-webkit-scrollbar {
  /* ---NOTE: for the rest of the scrollbar formatting to work, there has to be at least one attribute here under general scrollbar. */
  /* width: 2vh; */
  background-color: linen;
  width: 10px;
  height: 10px;
}
/* ::-webkit-scrollbar-button {
} */
::-webkit-scrollbar-thumb {
  /* background: #F06449; */
  /* background: none; */
  background: black;
  border-radius: 50px;
  /* border: 1px solid whitesmoke; */
}
.image1::-webkit-scrollbar-track {
  background-image: linear-gradient(
    to right,
    rgb(220, 211, 203),
    rgb(220, 211, 203)
  );
  border-radius: 50px;
}

.image-wrapper {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  /* transform: rotateX(180deg); */
}

.image1 {
  transform: rotateX(180deg);
  /* position: absolute; */
  /* width: 30vw; */
  height: auto;
  /* display: block; */
  display: flex;
  flex-direction: row;
  /* float: left; */
  overflow-x: scroll;
  overflow-y: hidden;
}

video {
  transform: rotateX(180deg);
  /* margin-right: 10px; */
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-self: center;
}

img {
  /* object-fit: cover; */
  object-fit: contain;
  height: 60vh;
  /* margin: 10px; */
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  transform: rotateX(180deg);
}

iframe {
  height: 60vh;
  object-fit: contain;
  margin: 10px;
  transform: rotateX(180deg);
}

h1 {
  font-weight: bold;
  font-family: "Apfel Grotezk", sans-serif;
  /* font-family: "MAZIUS REVIEW 20.09 Ex italic"; */
  /* font-weight: normal; */
  font-size: 7.4vw;
  line-height: 7.4vw;
  text-align: left;
  /* color: #F06449; */
  color: black;
  display: inline;
}

h2 {
  font-family: "Apfel Grotezk", sans-serif;
  font-weight: normal;
  font-size: 1.8vw;
  line-height: 8vw;
  float: right;
  color: black;
  display: inline;
}

.description {
  width: 95vw;
  display: flex;
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 1.4vw;
  line-height: 1.6vw;
  color: black;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 4vh;
}

p {
  width: 47vw;
  /* float:left; */
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 1.4vw;
  line-height: 1.6vw;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  /* padding-top: 3vh; */
}

span {
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 1.4vw;
  color: #f06449;
}

.credits {
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 1.2vw;
  color: darkgrey;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

input[type="checkbox"] {
  display: none;
}

.wrap-collabsible {
  /* margin: 1.2rem 0;  */
  overflow-x: hidden;
}

.gradient {
  background-image: linear-gradient(-30deg, #f9f0e600 25%, #f9f0e6 70%);
  padding: 1rem;
  margin: 0;
  width: inherit;
  height: inherit;
  display: block;
  /* border-radius: 7px; */
}

.lbl-toggle {
  /* background-image: linear-gradient(-30deg, transparent 20%, yellow); */

  display: block;
  padding: 0;
  cursor: pointer;
  /* border-radius: 7px; */
  transition: all 0.25s ease-out;
}

/* ~~~~~~~~ toggle IMAGE BACKGROUNDS ~~~~~~~~~~ */

#tog21 {
  background-image: url(images/climateoases_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tog21:hover {
  background-image: none;
}

#tog18 {
  background-image: url(images/SAUNA_NIGHTS_b.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tog18:hover {
  background-image: none;
}
#tog19 {
  background-image: url(images/awakenings_3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tog19:hover {
  background-image: none;
}
#tog20 {
  background-image: url(images/insitu_4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tog20:hover {
  background-image: none;
}

#tog01 {
  background-image: url(images/insitu_4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tog01:hover {
  background-image: none;
  /* filter:blur(20px); */
}

#tog0 {
  background-image: url(images/dwellers_4.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog0:hover {
  background-image: none;
}

#tog1 {
  background-image: url(images/ikbenerniet_5.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog1:hover {
  background-image: none;
}

#tog2 {
  background-image: url(images/cities_2.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog2:hover {
  background-image: none;
}

#tog3 {
  background-image: url(images/kijkvrij_9.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog3:hover {
  background-image: none;
}

#tog4 {
  background-image: url(images/level_6.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog4:hover {
  background-image: none;
}

#tog5 {
  background-image: url(images/occupants_1.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog5:hover {
  background-image: none;
}

#tog6 {
  background-image: url(images/binnentuin_4.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog6:hover {
  background-image: none;
}

#tog7 {
  background-image: url(images/quilts_9.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog7:hover {
  background-image: none;
}

#tog8 {
  background-image: url(images/secret_1.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog8:hover {
  background-image: none;
}

#tog9 {
  background-image: url(images/borders_9.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog9:hover {
  background-image: none;
}

#tog10 {
  background-image: url(images/journey_4.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog10:hover {
  background-image: none;
}

#tog11 {
  background-image: url(images/babylon_1.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#tog11:hover {
  background-image: none;
}

#tog12 {
  background-image: url(images/spheres_1.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog12:hover {
  background-image: none;
}

#tog13 {
  background-image: url(images/present_3.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog13:hover {
  background-image: none;
}

#tog14 {
  background-image: url(images/forecast_4.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog14:hover {
  background-image: none;
}

#tog15 {
  background-image: url(images/happiness_6.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog15:hover {
  background-image: none;
}

#tog16 {
  background-image: url(images/broadsheet_3.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog16:hover {
  background-image: none;
}

#tog17 {
  background-image: url(images/new_order_1.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#tog17:hover {
  background-image: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.lbl-toggle:hover {
  /* background: lightgrey; */
  /* background: silver; */
  background: linen;
  /* color: white; */
  /* background: #832161; */
}

/* b:hover {
  /* color: #F06449;
} */

.lbl-toggle::before {
  content: " ";
  /* display: inline-block; */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
  display: none;
}

.toggle:checked + .lbl-toggle::before {
  display: none;
  /* transform: rotate(90deg) translateX(-3px);  */
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 120vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* background-color: lightgrey; */
  /* background-color: #832161; */
  background-color: linen;
}

.collapsible-content .content-inner {
  /* background: lightgrey; */
  /* background: #832161; */
  background-color: linen;
  /* border-bottom: 1px solid rgba(0, 105, 255, .45); */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  padding-top: 3vh;
}

.collapsible-content p {
  margin-bottom: 0;
}

/* ------------------------------------------ */

/* ------ ADD ANOTHER STYLE, IN BETWEEN STAGE IS AWKWARD....------ */

/* ------------- MOBILE -------------- */

@media screen and (max-width: 700px) {
  /* .header {
    background-color: white;
  } */

  .header {
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    position: sticky;
    /* display: flex; */
    display: flow-root;
    /* justify-content: flex-end; */
    /* background-color: #FDC835; */
    /* background-color: lightgrey; */
    /* background-color: silver; */
    background-color: linen;
    padding: 2vw;
    z-index: 100;
  }

  button {
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #tog01 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/insitu_4.jpg);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog01:hover {
    background: black;
  }

  #tog0 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/dwellers_4.gif);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog0:hover {
    background: black;
  }
  #tog1 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/ikbenerniet_5.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog1:hover {
    background: black;
  }

  #tog2 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/cities_2.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog2:hover {
    background: black;
  }

  #tog3 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/kijkvrij_9.jpg);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog3:hover {
    background: black;
  }
  #tog4 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/level_6.gif);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog4:hover {
    background: black;
  }
  #tog5 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/occupants_1.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog5:hover {
    background: black;
  }

  #tog6 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/binnentuin_4.gif);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog6:hover {
    background: black;
  }

  #tog7 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/quilts_9.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog7:hover {
    background: black;
  }

  #tog8 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/secret_1.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog8:hover {
    background: black;
  }

  #tog9 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/borders_9.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog9:hover {
    background: black;
  }

  #tog10 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/journey_4.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog10:hover {
    background: black;
  }

  #tog11 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/babylon_1.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog11:hover {
    background: black;
  }

  #tog12 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/spheres_1.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog12:hover {
    background: black;
  }

  #tog13 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/present_3.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog13:hover {
    background: black;
  }

  #tog14 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/forecast_4.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog14:hover {
    background: black;
  }

  #tog15 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/happiness_6.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog15:hover {
    background: black;
  }

  #tog16 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/broadsheet_3.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog16:hover {
    background: black;
  }

  #tog17 {
    background: linear-gradient(-30deg, transparent 20%, #000f56),
      url(images/new_order_1.png);
    background-blend-mode: darken;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  #tog17:hover {
    background: black;
  }

  h2 {
    font-size: 4vw;
    line-height: 4vw;
    float: left;
    width: 100vw;
    display: contents;
  }

  h1 {
    display: block;
    /* text-shadow: 0px 0px 4px rgba(0,0,0, 0.3); */
  }

  p {
    font-size: 3.3vw;
    line-height: 3.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    /* padding-top: 3vh; */
  }

  span {
    font-size: 3.3vw;
  }

  #swipe {
    display: none;
    /* display: flex;
    left: 1vw;
    height: 4vh;
    font-size: 3vw;
    color: grey;
    text-transform: uppercase;
    padding-top: 4vh;
    padding-bottom: 2vh;
    width: fit-content;
    margin: 0;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Apfel Grotezk", sans-serif; */
  }

  #scroll {
    display: none;
  }

  .description {
    padding-bottom: 20px;
  }

  .gallery {
    height: 42vh;
  }

  .image1 {
    height: 40vh;
  }

  img {
    height: 40vh;
    margin: 0;
    padding-top: 20px;
    /* margin-top: 10px; */
  }

  video {
    height: 38vh;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .credits {
    font-family: "Apfel Grotezk", sans-serif;
    font-size: 3vw;
    color: darkgrey;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}

/* ----------------------------------- */
