header {
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    position: sticky;
    /* display: flex; */
    display: flow-root;
    /* justify-content: flex-end; */
    /* background-color: #FDC835; */
    /* background-color: lightgrey; */
    /* background-color: silver; */
    background-color: linen;
    padding: 2vw;
    z-index: 100;
}
{
    margin: 0;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
::-webkit-scrollbar {
    /* ---NOTE: for the rest of the scrollbar formatting to work, there has to be at least one attribute here under general scrollbar.; */
    /* width: 2vh; */
    background-color: linen;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    /* background: #F06449; */
    /* background: none; */
    background: black;
    border-radius: 50px;
    /* border: 1px solid whitesmoke; */
}
